# Local databases
*.sqlite3

# IDE generated stuff
.idea

# Compiled files
*.pyc
src/main/static/css

# Cache
.sass-cache

# Virtual environments
venv

# Packages
bower_components
node_modules

# User generated content
media

# Development
params.py
*.phar

# Composer
vendor